.banner {
  background-image: url("/e1hLQ2m.png");
  background-size: cover;
  background-position: center;
  height: 448px;
  object-fit: contain;
  color: white;
  position: relative;
}

.banner-bottom {
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.61),
    #141414
  );
}
