.banner {
  background-size: cover;
  background-position: center;
  height: 448px;
  object-fit: contain;
  color: white;
  position: relative;
}

.banner-bottom {
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.61),
    #141414
  );
}

.banner .btn-netflix-button:hover {
  color: #000 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  transition: all 0.3s;
}

.banner-desc {
  width: 25rem;
}
